.typing-demo {
    width: 17ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
  .card {
    position: relative;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #2874f0;
    transform: skewY(345deg);
    transition: 0.5s;
}
.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}
.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}
.card .contentBox {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    background: #2874f0;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}
.showall{
  padding: 10px 30px;
  margin-top: 15px;
  color: #ffffff;
  text-decoration: none;
  background:  #2874f0;
  border-radius: 30px;
  border-color:  #2874f0;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}
.mouse {
    height: 300px;
    width: auto;
} 
.offers{
  background-image: linear-gradient(#daecff, #daecff);
  border: #daecff;
}
.cardoffers{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.contanier{
  background-color:#daecff;
}
.row {
  background-color: #daecff;
  display: flex;
  align-items: center;
}
.homeimg {
  height: 600px;
}
.card1{
background-size: 100%;
background-image: url(https://img.freepik.com/free-photo/shirt-mockup-concept-with-plain-clothing_23-2149448749.jpg?w=996&t=st=1698625799~exp=1698626399~hmac=b6f72f4b80769dcf993596d63cee2af5366b96b8070df675a965fd5346df842a);
}
.card2{
background-image: url(https://img.freepik.com/free-photo/shirt-wooden-background_1203-8008.jpg?w=996&t=st=1698626073~exp=1698626673~hmac=abb0a7aab02fe4c31f7bac6ed9ae101ce905cea40ea1fd1404ab14bae1ee3bae);
background-size: 100%;
}
.card3{
background-image: url(https://img.freepik.com/free-photo/shirt-mockup-concept-with-plain-clothing_23-2149448808.jpg?w=996&t=st=1698626143~exp=1698626743~hmac=4e37c51d48efc3a1e16f751ebe64ac7f7e1330392bb5eab0505b532e3b926bb4);
background-size: 100%;
}
.card4{
background-image: url(https://img.freepik.com/free-photo/shirt-mockup-concept-with-plain-clothing_23-2149448772.jpg?w=996&t=st=1698626301~exp=1698626901~hmac=01b30f81123ffadfdc0f67e1c750dbe8dda7e0cab35b9f1359058fe14061c81c);
background-size:100% ;
}
.card5{
background-image: url(https://img.freepik.com/free-photo/arrangement-father-son-clothing_23-2148868928.jpg?w=360&t=st=1698626476~exp=1698627076~hmac=2e59c4e2a3c5221708c40e38d62c8c19e981218d504ea798b97068f9c676801a);
background-size: 100%;
}